<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IdentityManager" version="1.0.0-build-10061" targetFramework="net45" />
  <package id="IdentityManager.AspNetIdentity" version="1.0.0-build-10043" targetFramework="net45" />
  <package id="IdentityModel" version="1.0.0" targetFramework="net45" />
  <package id="IdentityServer3" version="2.0.0-build00174" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>